.home-card-row {
    padding-bottom: 0.2rem;
    background-color: transparent;
}

.home-card-row > * {
    border: none;
    /* background: radial-gradient(transparent 50%, rgb(0, 0, 0, 0.3)); */
    background: rgba(246, 246, 246, 0.883);
}

.about-artist {
    margin: 2em 5rem 2em 5rem;
  }
