.navbar {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    width: 100%;
    margin-bottom: 1em;
    width: 100%;
    padding: 0.5rem;
  }
  
  .nav {
    display: flex;
    flex-wrap: wrap;
    width: 70vw;
    justify-content: space-evenly;
  }
  
  .nav-logout-container {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    width: 20vw;
    justify-content: space-evenly;
  }
  
  .nav-title {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }

  .navbar-link:hover {
    color: var(--primary);
  }